<div class="container bg">
  <div class="row">
    <div class="col-7">
      <div [dragula]='"first-bag"'>
       <div class="box">A</div>
      </div>
      <div [dragula]='"first-bag"'>
        <div class="box">B</div>
      </div>
      <div [dragula]='"first-bag"'>
        <div class="box">C</div>
      </div>
    </div>
    <div class="col-5">
      <div [dragula]='"second-bag"'>
        <div class="small-box">W</div>
      </div>
      <div [dragula]='"second-bag"'>
        <div class="small-box">X</div>
      </div>
      <div [dragula]='"second-bag"'>
        <div class="small-box">Y</div>
      </div>
      <div [dragula]='"second-bag"'>
        <div class="small-box">Z</div>
      </div>
    </div>
  </div>
</div>

