<div class="container bg">
  <div class="row">
    <div class="col-7">
      <div [dragula]='"first-bag"'>
       <div *ngIf="false" class="box">
         A
         <div class="pull-right">K</div>
       </div>
      </div>
      <div [dragula]='"first-bag"'>
        <div class="box">
          B
         <div class="pull-right">K</div>
        </div>
      </div>
      <div [dragula]='"first-bag"'>
        <div class="box">
          C
          <div class="pull-right">K</div>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div [dragula]='"second-bag"'>
        <div class="small-box">
          W
          <div class="pull-right">K</div>
        </div>
      </div>
      <div [dragula]='"second-bag"'>
        <div class="small-box">
          X
          <div class="pull-right">K</div>
        </div>
      </div>
      <div [dragula]='"second-bag"'>
        <div class="small-box">
          Y
          <div class="pull-right">K</div>
        </div>
      </div>
      <div [dragula]='"second-bag"'>
        <div class="small-box">
          Z
          <div class="pull-right">K</div>
        </div>
      </div>
    </div>
  </div>
</div>

